datasets==3.6.0
fastapi==0.115.12
httpcore==1.0.6
huggingface-hub==0.31.4
joblib==1.4.2
json5==0.9.25
keras==3.8.0
langdetect==1.0.9
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.1
optuna==4.3.0
pandas==2.2.3
pydantic==2.9.1
pylance==0.17.0
python==3.10.12
regex==2024.11.6
scikit-learn==1.5.2
scipy==1.14.1
starlette==0.46.2
streamlit==1.39.0
sympy==1.13.1
tensorflow==2.19.0
torch==2.5.1+cu118
transformers==4.52.2
uvicorn==0.34.2-